html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

nav {
  background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

nav li {
  display: inline-block;
  padding: 20px 25px;
  list-style-type: none;
                 
}

nav a {
  text-decoration: none;
  color: White;
}

nav li:hover {
  background-color: #36096d;
}


#welcome-section {
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;

}

#welcome-section header {
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  line-height: 1.5;
  font-size: 40px;
  padding: 25vh 0px 0px 0px;
}

#welcome-section h1 {
  color: white;
}

#welcome-section p {
  color: #3d7fc6;
}

#skill-section {
  padding: 50px;
  
  background-color: #303841;
}

#skill-section h2 {
    text-align: center;
  padding: 10vh 0px 0px 0px;
  font-size: 45px;
  text-decoration-line: underline;
  color: #f0f0f0;
  
}

#skill-section img {
  width:60px;
}

.iconify {
  font-size:60px;
  color: #F25F4A;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

  #skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 50px;
   padding: 50px;
}

#projects {
  background-color: #3d7fc6;
  background-image: linear-gradient(315deg, #3d7fc6 0%, #28313b 90%);

}

#projects h2 {
  text-align: center;
  padding: 10vh 0px 0px 0px;
  font-size: 45px;
  text-decoration-line: underline;
  color: #f0f0f0;
}

.grid {
  display:grid ;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-row-gap: 50px;
  grid-column-gap: 50px; 
  justify-content: center;
}
  
  .grid a {
  color: white;
  text-decoration: none;
}
  

.project-tile {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin: auto;
}

img {
  width:400px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}



.project-tile p {
  background-color: #36099d ;
  width: 400px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

.project-tile:hover {
  transform: scale(1.2);
}

.project-tile :hover + p {
  background-color: ;
  box-shadow: 0 8px 12px 0 #36096d;
  text-decoration-line: underline;
}

.project-tile p:hover {
  background-color: ;
  box-shadow: 0 8px 12px 0 #36096d;
  text-decoration-line: underline;
}


#one {
  display:none;
}
#two {
  display:none;
}
#three {
  display:none;
}
#four {
  display:none;
}

#five {
  display:none;
}

#six {
  display:none;
}


#button {
  background-color:  #37d5d6;
  padding: 10px;
  font-size: 15px;
  font-weight: 800px;
  border-radius: 10px;
  cursor: pointer;
}

#button-container {
  padding:10px;
  text-align: center;
}

#button:hover {
  background-color: #36099d;
  box-shadow: 0 5px 0 rgb(0 0 0 / 40%);
}



#contact {
  height: auto;
  background-color: #303841;
  color: white;
  line-height: 1.5;
}

#contact header {
  padding: 15vh 0px 0px 0px;
  text-align: center;
}

#contact header h2 {
  font-size: 70px;
}

#contact header p {
  font-size: 20px;
}

.socials {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding:50px;
}

#contact li {
  display: inline-block;
  list-style-type: none;
  text-shadow: 2px 2px 1px #1f1f1f;
  text-align: center;
  margin: auto;
}

#contact li p {
  font-size: 20px;
}

#contact li:hover {
  transform: scale(1.5);
}


#contact a {
  text-decoration: none;
  color: white;
}

#contact a:hover {
  color: #3d7fc6;
}


#contact i {
  font-size: 60px;
}



@media only screen and (max-width: 600px) {

  /*Nav bar*/
  nav {
    font-size:15px;
  }
  
  nav li {
    padding: 10px 5px;
  }
  
  /*Skill section*/
#skill-section img {
  width:48px;
}
  .iconify {
  font-size:40px;
}

  #skills {
  gap: 40px;
}
  
  /*Project header*/
  #projects h2 {
    font-size: 30px;
  }
  
  /*Project tiles */
  img {
   width: 200px;
  }
  
  .project-tile p {
    width: 200px;
  }
  
  .project-tile {
    width: 200px;
    
  }
  
  /*Contact header*/
  #contact header h2 {
    font-size: 50px;
  }

  #contact i {
    font-size: 30px;
  }
  
  #contact p {
    font-size: 5px;
  }
  
}
